:root {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000de;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  min-width: 320px;
}

#app {
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

input {
  font-family: inherit;
}

button {
  border-radius: 4px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  transition: all 0.3s ease;
}

a {
  color: #1890ff;
  text-decoration: none;
}

a:hover {
  color: #40a9ff;
}
